<div class="container">
  <h4 class="mt-3 mb-3">レシピ編集</h4>
  <div class="recipe-post">
    <%= form_with model: @recipe, url: recipe_path(@recipe.id), local: true do |f| %>
      <div class="row">
        <div class="col-lg-5">
          <%= f.text_field :dish, class: "form-control mb-3", placeholder: "料理名" %>
          <br>写真の拡張子はjpegに限ります</br>
          <%= f.attachment_field :dish_photo, class: "mb-3" %><!--dish_photo_idのidは省略．写真投稿用-->
          <%= f.text_field :time, class: "form-control mb-3", placeholder: "所要時間" %>
          <%= f.text_field :money, class: "form-control mb-3", placeholder: "費用" %>

        </div>
      </div>

<!--①レシピ材料入力欄．ここから-->
      <div class="row mt-3">
        <div class="recipe-ingredients">
          <div class="mx-auto">

            <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
        <!--fields_forによってform_with内で異なるモデル（今回は:recipe_ingredients）を編集することができるようになる。-->

        <!--@recipeに紐づいている:recipe_ingredientsでデータをすべて取得してrecipe_ingredientに1レコードずつ入れて表示-->
        <!--_forはeachと似たような処理(繰り返し処理をする)。やっていることはeach同様全レコードデータのうち1レコードずつ値を入れて処理内容を実施．-->

              <%= render "recipes/recipe_ingredient_fields", f: recipe_ingredient %>
              <!--f: t　ｆは部分テンプレートで使う変数。t(今回はrecipe_ingredienにして入力)は部分テンプレートに渡す変数．-->
              <!--fの中にrecipe_ingredient。つまりf = recipe_ingredient。これをrenderしている部分テンプレートに渡して処理をする-->
            <% end %>

          </div>

          <div id="detail-association-insertion-point1"></div>

          <div class="col-lg-10 mx-auto mt-3">

            <%= link_to_add_association "+フォームを追加", f, :recipe_ingredients,
            class: "btn btn-secondary btn-block",
            data: {
            association_insertion_node: '#detail-association-insertion-point1',
            association_insertion_method: 'before'
            }%>
        <!--link_to_add_associationによってフォームが追加される。-->

        <!--association_insertion_node: '#detail-association-insertion-point'
            association_insertion_method: 'after'
            によってフォームの表示位置を指定。-->
          </div>
        </div>
      </div>
<!--①レシピ材料入力欄．ここまで-->

<!--①レシピ調理方法入力欄．ここから-->
      <div class="row mt-3">
        <div class="how-to-makes">
          <div class="mx-auto">

            <%= f.fields_for :how_to_makes do |t| %>
        <!--fields_forによってform_with内で異なるモデル（今回はHowToMake）を編集することができるようになる。-->
        <!---->
              <%= render "recipes/how_to_make_fields", f: t %>
            <% end %>

          </div>

          <div id="detail-association-insertion-point2"></div>

          <div class="col-lg-10 mx-auto mt-3">

            <!--link_to_add_association "+フォームを追加", f, :how_to_makes,のhow_to_makesの意味→空のインスタンスを作成する。アソシエーションの記述の仕方で記入する-->
            <!--アソシエーションで複数系になっているのでこっちも複数形で書く-->
            <%= link_to_add_association "+フォームを追加", f, :how_to_makes,
            class: "btn btn-secondary btn-block",
            data: {
            association_insertion_node: '#detail-association-insertion-point2',
            association_insertion_method: 'before'
            }%>
        <!--link_to_add_associationによってフォームが追加される。-->
        <!--association_insertion_node: '#detail-association-insertion-point'
            association_insertion_method: 'after'
            によってフォームの表示位置を指定。-->
          </div>
        </div>
      </div>
<!--①レシピ調理入力欄．ここまで-->
      <br><%= f.submit '編集完了', class: "mt-3 btn btn-primary" %></br>
    <% end %>
  </div>
</div>